<div class="container-divider"></div>
<div id="main-content" class="error-page">
  <h1>{{t 'oops'}}</h1>

  <h2>{{t 'nonexistent_page'}}</h2>
  <p>{{t 'mistyped_address_or_moved_page'}}</p>

  {{#link 'help_center'}}
    {{t 'back_to_homepage'}}
  {{/link}}
</div>

